*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}


hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}


abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af;
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-0 {
  top: 0px;
}
.bottom-5 {
  bottom: 1.25rem;
}
.top-2\.5 {
  top: 0.625rem;
}
.bottom-2\.5 {
  bottom: 0.625rem;
}
.top-2 {
  top: 0.5rem;
}
.bottom-2 {
  bottom: 0.5rem;
}
.top-5 {
  top: 1.25rem;
}
.bottom-0 {
  bottom: 0px;
}
.left-1\/2 {
  left: 50%;
}
.right-\[49\.99527359008789px\] {
  right: 49.99527359008789px;
}
.top-1\/2 {
  top: 50%;
}
.top-\[100\.99528503417969px\] {
  top: 100.99528503417969px;
}
.top-\[30px\] {
  top: 30px;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-\[3px\] {
  margin-left: 3px;
  margin-right: 3px;
}
.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}
.my-\[13px\] {
  margin-top: 13px;
  margin-bottom: 13px;
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mr-8 {
  margin-right: 2rem;
}
.mb-\[132px\] {
  margin-bottom: 132px;
}
.mt-\[15px\] {
  margin-top: 15px;
}
.mt-\[5px\] {
  margin-top: 5px;
}
.ml-auto {
  margin-left: auto;
}
.mt-\[30px\] {
  margin-top: 30px;
}
.mr-0\.5 {
  margin-right: 0.125rem;
}
.mr-0 {
  margin-right: 0px;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-\[26px\] {
  margin-top: 26px;
}
.mt-\[39px\] {
  margin-top: 39px;
}
.mr-\[485px\] {
  margin-right: 485px;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-\[3px\] {
  margin-bottom: 3px;
}
.mt-2\.5 {
  margin-top: 0.625rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-\[207px\] {
  margin-bottom: 207px;
}
.flex {
  display: flex;
}
.h-0\.5 {
  height: 0.125rem;
}
.h-0 {
  height: 0px;
}
.h-\[135px\] {
  height: 135px;
}
.h-5 {
  height: 1.25rem;
}
.h-\[1080px\] {
  height: 1080px;
}
.h-\[70px\] {
  height: 70px;
}
.h-\[1799px\] {
  height: 1799px;
}
.h-\[345px\] {
  height: 345px;
}
.h-full {
  height: 100%;
}
.h-6 {
  height: 1.5rem;
}
.h-\[15px\] {
  height: 15px;
}
.h-\[25px\] {
  height: 25px;
}
.h-\[267px\] {
  height: 267px;
}
.min-h-\[22px\] {
  min-height: 22px;
}
.min-h-\[1900px\] {
  min-height: 1900px;
}
.min-h-\[395px\] {
  min-height: 395px;
}
.min-h-\[315px\] {
  min-height: 315px;
}
.min-h-\[3px\] {
  min-height: 3px;
}
.w-\[27px\] {
  width: 27px;
}
.w-\[300px\] {
  width: 300px;
}
.w-\[25px\] {
  width: 25px;
}
.w-\[1920px\] {
  width: 1920px;
}
.w-full {
  width: 100%;
}
.w-\[24\.99px\] {
  width: 24.99px;
}
.w-\[900\.0848999023438px\] {
  width: 900;
}
.w-\[601\.0755004882812px\] {
  width: 600px;
}
.w-\[491\.0660400390625px\] {
  width: 490px;
}
.w-\[800px\] {
  width: 800px;
}
.w-\[90px\] {
  width: 90px;
}
.w-\[89\.67\%\] {
  width: 90%;
}
.w-\[655\.0330200195312px\] {
  width: 655px;
}
.w-\[30px\] {
  width: 30px;
}
.w-\[88\.89\%\] {
  width: 90%;
}
.w-\[37px\] {
  width: 37px;
}
.w-\[600\.0848999023438px\] {
  width: 600.0848999023438px;
}
.w-\[89\.33\%\] {
  width: 89.33%;
}
.w-\[1434\.9906005859375px\] {
  width: 1434.9906005859375px;
}
.w-\[229px\] {
  width: 229px;
}
.w-\[35px\] {
  width: 35px;
}
.w-11 {
  width: 2.75rem;
}
.w-5 {
  width: 1.25rem;
}
.w-\[1157px\] {
  width: 1157px;
}
.w-\[183px\] {
  width: 183px;
}
.w-\[925px\] {
  width: 925px;
}
.w-\[900px\] {
  width: 900px;
}
.w-\[1871px\] {
  width: 1871px;
}
.w-\[332px\] {
  width: 332px;
}
.w-\[106px\] {
  width: 106px;
}
.min-w-0 {
  min-width: 0px;
}
.max-w-\[85\%\] {
  max-width: 85%;
}
.max-w-full {
  max-width: 100%;
}
.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[0\] {
  --tw-translate-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-\[0\] {
  --tw-translate-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-y-\[30px\] {
  row-gap: 30px;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.gap-x-2\.5 {
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
}
.gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.gap-y-\[86px\] {
  row-gap: 86px;
}
.gap-y-\[5px\] {
  row-gap: 5px;
}
.gap-x-\[15px\] {
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-\[11px\] {
  border-radius: 11px;
}
.rounded-\[62px\] {
  border-radius: 62px;
}
.rounded-\[22px\] {
  border-radius: 22px;
}
.rounded-\[30px\] {
  border-radius: 30px;
}
.rounded-\[30px_30px_0px_0px\] {
  border-radius: 30px 30px 0px 0px;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[25px\] {
  border-radius: 25px;
}
.rounded-\[15px\] {
  border-radius: 15px;
}
.rounded-\[22\.08px\] {
  border-radius: 22.08px;
}
.border-t-\[1px\] {
  border-top-width: 1px;
}
.border-r-\[0px\] {
  border-right-width: 0px;
}
.border-b-\[1px\] {
  border-bottom-width: 1px;
}
.border-l-\[0px\] {
  border-left-width: 0px;
}
.border-t-\[0px\] {
  border-top-width: 0px;
}
.border-b-\[5px\] {
  border-bottom-width: 5px;
}
.border-b-\[0px\] {
  border-bottom-width: 0px;
}
.border-l-\[5px\] {
  border-left-width: 5px;
}
.border-r-\[1px\] {
  border-right-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-\[rgba\(0\2c 0\2c 0\2c 0\.247\)\] {
  background-color: rgba(0,0,0,0.247);
}
.bg-\[rgba\(0\2c 0\2c 0\2c 0\.498\)\] {
  background-color: rgba(0,0,0,0.498);
}
.bg-\[rgb\(23\2c 5\2c 26\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(23 5 26 / var(--tw-bg-opacity));
}
.bg-\[rgba\(0\2c 0\2c 0\2c 0\.6\)\] {
  background-color: rgba(0,0,0,0.6);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-\[image\:var\(--src\)\] {
  background-image: var(--src);
}
.bg-cover {
  background-size: cover;
}
.bg-fixed {
  background-attachment: fixed;
}
.bg-\[center_center\] {
  background-position: center center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pt-\[2\.5px\] {
  padding-top: 2.5px;
}
.pr-\[22px\] {
  padding-right: 22px;
}
.pb-\[2\.5px\] {
  padding-bottom: 2.5px;
}
.pl-\[22px\] {
  padding-left: 22px;
}
.pt-2\.5 {
  padding-top: 0.625rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pb-2\.5 {
  padding-bottom: 0.625rem;
}
.pl-\[30px\] {
  padding-left: 30px;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pt-\[5px\] {
  padding-top: 5px;
}
.pr-\[5px\] {
  padding-right: 5px;
}
.pb-\[5px\] {
  padding-bottom: 5px;
}
.pl-\[5px\] {
  padding-left: 5px;
}
.pr-\[25px\] {
  padding-right: 25px;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pb-\[60px\] {
  padding-bottom: 60px;
}
.pt-\[62px\] {
  padding-top: 62px;
}
.pr-\[13px\] {
  padding-right: 13px;
}
.pb-\[62px\] {
  padding-bottom: 62px;
}
.pl-3\.5 {
  padding-left: 0.875rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-1\.5 {
  padding-right: 0.375rem;
}
.pl-1\.5 {
  padding-left: 0.375rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.text-center {
  text-align: center;
}
.font-Raleway {
  font-family: Raleway, Helvetica, Arial, serif;
}
.font-YanoneKaffeesatz {
  font-family: "Yanone Kaffeesatz", Helvetica, Arial, serif;
}
.text-\[64px\] {
  font-size: 64px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[13px\] {
  font-size: 13px;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.leading-\[1\.17\] {
  line-height: 1.17;
}
.leading-none {
  line-height: 1;
}
.leading-\[1\.15\] {
  line-height: 1.15;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.shadow-\[0px_0px_10px_0px_rgba\(255\2c 255\2c 255\2c 0\.4\)\] {
  --tw-shadow: 0px 0px 10px 0px rgba(255,255,255,0.4);
  --tw-shadow-colored: 0px 0px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-\[0px_0px_20px_0px_rgba\(0\2c 0\2c 0\2c 0\.298\)\] {
  --tw-shadow: 0px 0px 20px 0px rgba(0,0,0,0.298);
  --tw-shadow-colored: 0px 0px 20px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-\[0px_0px_5px_0px_rgba\(255\2c 255\2c 255\2c 0\.4\)\] {
  --tw-shadow: 0px 0px 5px 0px rgba(255,255,255,0.4);
  --tw-shadow-colored: 0px 0px 5px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-\[0px_0px_10px_0px_rgba\(255\2c 255\2c 255\2c 0\.498\)\] {
  --tw-shadow: 0px 0px 10px 0px rgba(255,255,255,0.498);
  --tw-shadow-colored: 0px 0px 10px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.outline-\[0\.5px\] {
  outline-width: 0.5px;
}
.outline-1 {
  outline-width: 1px;
}
.outline-offset-\[-0\.5px\] {
  outline-offset: -0.5px;
}
.outline-offset-\[-1px\] {
  outline-offset: -1px;
}
.outline-white {
  outline-color: #fff;
}
@media (max-width: 1919px) {

  .xxl\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .xxl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1399px) {

  .xl\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {

  .md\:my-\[13px\] {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .md\:mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mr-8 {
    margin-right: 2rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:mt-\[30px\] {
    margin-top: 30px;
  }

  .md\:mb-\[150px\] {
    margin-bottom: 150px;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:text-\[52px\] {
    font-size: 52px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }
}
@media (max-width: 575px) {

  .xs\:my-\[13px\] {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .xs\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .xs\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xs\:mt-0 {
    margin-top: 0px;
  }

  .xs\:mr-4 {
    margin-right: 1rem;
  }

  .xs\:mb-0 {
    margin-bottom: 0px;
  }

  .xs\:ml-0 {
    margin-left: 0px;
  }

  .xs\:mt-\[30px\] {
    margin-top: 30px;
  }

  .xs\:mb-20 {
    margin-bottom: 5rem;
  }

  .xs\:gap-y-20 {
    row-gap: 5rem;
  }
}
@media (max-width: 479px) {

  .xxs\:text-\[36px\] {
    font-size: 36px;
  }

  .xxs\:text-\[16px\] {
    font-size: 16px;
  }
}
@media (max-width: 383px) {

  .tn\:my-\[13px\] {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .tn\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .tn\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .tn\:mt-0 {
    margin-top: 0px;
  }

  .tn\:mr-2 {
    margin-right: 0.5rem;
  }

  .tn\:mb-0 {
    margin-bottom: 0px;
  }

  .tn\:ml-0 {
    margin-left: 0px;
  }

  .tn\:mt-\[30px\] {
    margin-top: 30px;
  }

  .tn\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .tn\:gap-x-2 {
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  }

  .tn\:gap-y-\[50px\] {
    row-gap: 50px;
  }

  .tn\:pt-0 {
    padding-top: 0px;
  }

  .tn\:pr-0 {
    padding-right: 0px;
  }

  .tn\:pb-\[50px\] {
    padding-bottom: 50px;
  }

  .tn\:pl-0 {
    padding-left: 0px;
  }

  .tn\:pt-\[50px\] {
    padding-top: 50px;
  }

  .tn\:pr-\[13px\] {
    padding-right: 13px;
  }

  .tn\:pl-3\.5 {
    padding-left: 0.875rem;
  }

  .tn\:pl-3 {
    padding-left: 0.75rem;
  }
}